<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/Components/Image/image.css" >
    <link rel="stylesheet" href="/Components/Card/card.css">
    <link rel="stylesheet" href="/Components/avatar/avatar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Lazarus UI: Image</title>
</head>

<body>
    <div class="container">

        <nav>
            <div class="left-nav">`
                <a href="#">Lazarus
                    <small>v1.0</small>
                </a>
            </div>
            <ul class="right-nav">

                <div class="dark-light ">
                    <i class="fa-solid fa-moon moon"></i>
                    <i class="fa-solid fa-sun sun"></i>

                </div>

                <li><a href="#">Docs</a></li>
                <li><a href="#">Examples</a></li>
                <li><a href="#">Releases</a></li>


            </ul>
        </nav>

    </div>
    <div class="doc-container">
        <div class="side-bar">
            <!-- Get started list start. -->
            <div class="nested-list1">
                <div class="list-topic">
                    <a href="#">
                        Get Started
                    </a>
                </div>
                <ul class="list-subtopic ">
                    <li><a href="#">Introduction</a></li>


                    <li><a href="./Get Started/Color.html">Colors</a></li>
                    <li><a href="#">Typography</a></li>
                    <li><a href="#">Conclusion</a></li>
                </ul>

            </div>
            <!-- Components List start -->
            <div class="nested-list1">
                <div class="list-topic">
                    <a href="#">
                        Components
                    </a>
                </div>
                <ul class="list-subtopic">
                    <li><a href="#">Avatar</a></li>


                    <li><a href="#">Alert</a></li>
                    <li><a href="#">Badge</a></li>
                    <li><a href="#">Button</a></li>
                    <li><a href="#">Card</a></li>
                    <li><a href="#">Image</a></li>
                    <li><a href="#">Input</a></li>
                    <li><a href="#">List</a></li>
                    <li><a href="#">Toast</a></li>





                </ul>
            </div>
        </div>

        <div class="doc-content">
            <div class="content-title">
                Responsive Image
            </div>
            <div class="content-subtitle">
                 <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem, debitis ad rem eius recusandae placeat eveniet obcaecati, qui asperiores eum aspernatur! Nisi, sunt beatae laborum ad vel dicta magni placeat, quis dolorum consequatur at eius exercitationem laudantium excepturi autem sint.
                </p>
               
            </div>

            <div class="divider"></div>

            <div class="content-head">Square Image</div>
            <div class="content-subtitle">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum, aliquid!
                    
               
                </p> 
            </div>
            
            <div class="example-div">
                <img src="https://images.unsplash.com/photo-1505751104546-4b63c93054b1?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80" class="square-image" alt="">

                <img src="https://images.unsplash.com/photo-1515955656352-a1fa3ffcd111?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80" alt="" class="square-image">

                  
              
            </div>
            <div class="example-code">
                <code>Avatars with their classnames will go here.</code>
            </div>
            <div class="divider">
                
            </div>
            <div class="content-head">
               Round Image
            </div>
            <div class="content-subtitle">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate, quia?
            </div>
            <div class="example-div">
                <img src="https://images.unsplash.com/photo-1505751104546-4b63c93054b1?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80" class="round-image" alt="">

                <img src="https://images.unsplash.com/photo-1515955656352-a1fa3ffcd111?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80" alt="" class="round-image">
                  
                
            </div>
            <div class="divider"></div>
              <div class="example-code">
                    <-- Using the sm | md | lg class names -->
                <code>
                    <!-- <img class="avatar sm" src="https://url-of-the-image" alt="avatar-1"> -->
                </code>
                <code>
                    <!-- <img class="avatar lg" src="https://url-of-the-image" alt="avatar-1"> -->
                </code>
                
                <code>
                    <!-- <img class="avatar md" src="/assets/svg/female profile.svg"> -->
                </code>
                
            </div>
            <div class="divider"> 

            
          

            <!-- <div class="content-head">
                E-Commerce Card
            </div>
            <div class="content-subtitle">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate, quia?
            </div> -->
            <!-- <div class="example-div">
                <div class="card ecom">
                    <div class="product-image">
                        <img src="https://images.unsplash.com/photo-1504274066651-8d31a536b11a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" class="card-image" alt="">
                        <div class="card-badge">NEW</div>
                        <button class="ico">
                            <i class="fa-solid fa-heart"></i>
                        </button>
                    </div>
                    <div class="card-body m1">
                        <div class="brand-title m2">Apple</div>
                        <div class="card-text m2 ">
                            Airpods 2nd Generation

                        </div>
                    
                        <div class="card-price m2">
                            <span>Rs.490</span>
                            <span>Rs.1299</span>
                            <span>(62% OFF)</span>
                        </div>
                    </div>
            </div> -->
             
            <!-- </div>
            <div class="example-code"></div> -->
            <div class="divider"></div>
            
                <div class="content-head">
                    Full Width Image
                </div>
                    <div class="content-subtitle">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, modi!
                        <br>
                        <span style="color: var(--primary-color);">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis, incidunt?</span>
                    </div>
                    <div class="example-div">
                          
                    </div>
                    <div class="example-code">

                    </div>

                <div class="divider"></div>
                
           
            
            
            
            <footer>
                <div class="prev-comp">
                    <i class="fa-solid fa-angle-left"></i>
                    <a href="#">Card</a>
                </div>
                <div class="next-comp">
                    <a href="#">Input</a>
                    <i class="fa-solid fa-angle-right"></i>
                </div>
            </footer>
               
        </div>
    </div>
    <script src="/script.js"></script>
</body>