.square-image{
    width: 140px;
    height: 140px;
    margin: 10px;
    object-fit: cover;
}
.round-image{
    width: 150px;
    height: 150px;
    margin: 10px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid white;
}
.full-image{
    width: 100%;
    height: auto;
    object-fit: cover;
}