:root{
    --primary-color:#6366F1;
    --default-color: #172b4D;
    --secondary-color:#f3f4f6;
    --danger-color:#f44336;
    --success-color: #4caf50;
    --warning-color: #ff9800;
    --primary-hover: #4f46e5;
    --secondary-hover: #e5e7eb;
    --danger-hover: #d31609;
    --success-hover: #0d8611;
    --active-hover: #058ce0;
    --off-white: #f6f9fc;
    --active-color:#1ea7fd;
    --text-color:#333;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    width:100%;
    min-height: 100vh;
    height: max-content;
    font-family: "Nunito Sans", sans-serif;
    color: var(--text-color);
}
body.dark{
    background-color: black;
    --primary-color:#6366F1;
    --default-color: #172b4D;
    --secondary-color:#f3f4f6;
    --danger-color:#f44336;
    --success-color: #4caf50;
    --warning-color: #ff9800;
    --primary-hover: #4f46e5;
    --secondary-hover: #e5e7eb;
    --danger-hover: #d31609;
    --success-hover: #0d8611;
    --active-hover: #058ce0;
    --off-white: #f6f9fc;
    --active-color:#1ea7fd;
    --text-color:#f6f9fc;
}


.container{
    /* position:fixed; */

    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    width: 100%;
    /* min-height: 100vh; */
    /* height: max-content; */
    margin:auto;
    display: block;
   
    
}
.doc-container{
    width: 100%;
    display: flex;
    margin-top:20px;
    padding: 0 1rem;
}
/* .doc-container{
    width: 100%;
    margin: 50px auto 0;
    display: flex;
    padding: 0 1rem;
} */
.doc-content{  

   min-width: 0;
   margin: 1rem auto 0;
   max-width: 800px;
   flex: 1 1 0%;
}

nav{
    
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 2.5rem 1rem;
    width: 90%;
}
.left-nav a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 800;
    margin-left: 5rem;
}
.left-nav a small{
    font-weight: 200;
    font-size: 0.8rem;
}
.right-nav .dark-light{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    /* width: 40px; */
    position: relative;
}
.right-nav .dark-light i{
    display: absolute;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--text-color);
    
}
.dark-light i.sun{
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
    color: var(--text-color);
}
.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}
.right-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 5rem;
    margin-top: 10px;
   
}
.right-nav li{
    list-style-type: none;
    padding: 0.5rem;

   
}
.right-nav li a{
    position:relative;
    top: 0;
    text-decoration: none;
    font-size: 1.0rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}
.right-nav li a::before{
    content:"";
    position: absolute;
    height: 6px;
    width: 6px;
    background-color: var(--text-color);
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    transition: all 0.3s ease;
    opacity: 0;
}
.right-nav li a:hover::before{
    opacity: 1;
}


.content-title{
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.content-subtitle{
    line-height: 27px;
    color: var(--text-color);
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: 400;
}
.content-head{
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 800;
    margin-bottom: 1rem;
}
.divider{
    margin-bottom: 2rem;
    width: 100%;
    height: 1px;
    background-color: #dadadaf3;
}
.example-code{
    height: max-content;
    margin-bottom: 3rem;
}
/* .intro-code{
    margin-bottom: 0;
} */
.side-bar{
    margin-top:-5rem;
    margin-right: 1rem;
    
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 40px;
}
.list-topic{
    /* margin: 50px; */
    padding:30px;
    font-weight: 500;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 0.5rem;
    position: relative;
    left: 50px;
    top: 5rem;
}
.list-topic a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 700;
    font-size: 1rem;
}
.list-subtopic li{
    list-style-type: none;
    position: relative;
    padding: 15px;
    top: 90px;
    left: 70px;
    
}
.list-subtopic li a{
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    font-size: 13px;
    /* transition: all 0.3s ease; */
}


.list-subtopic li a::before{
    position:absolute;
    content: "";
    height: 6px;
    width: 6px;
    background-color: var(--text-color);
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -6px;
    opacity: 0;
    transition: all 0.3s ease;

}

.list-subtopic li a:hover::before{
    /* color: var(--active-color); */
    opacity: 1;
}
.list-subtopic li a:active{
    
    font-weight: 700;

}

/* Example-div */

.btn{
    background-color: pink;
    color: black;
    min-width: 100px;
    font-weight: 600;
    padding: 0.8rem 1rem;
    border: none;
    cursor: pointer;
    transition: all0.3s ease-in-out;
    margin: 10px;
}
footer{
    display: flex;
    /* width: 100%; */
    padding-bottom: 2rem;
    font-weight: 500;
    justify-content: space-between;
    
}
.prev-comp ,
.next-comp {
    display: flex;
    align-items: center;

    
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.prev-comp i, 
.next-comp i{
    font-size: 0.7rem;
    padding:0 2px;
}
.prev-comp a,
.next-comp a{
    text-decoration: none;
    color: var(--text-color);
}
