.card{
    width:300px;
    height:max-content;
    border-radius: 2px;
    background-color:white;
    /* padding:10px 20px; */
    margin:10px;
    box-shadow: 0 2.8px 2.2px rgba(0,0,0,0.034),
                0 6.7px 5.3px rgba(0,0,0,0.048),
                0 12.5px 10px rgba(0,0,0,0.06),
                0 22.3px 17.9px rgba(0,0,0,0.072),
                0 41.8px 33.4px rgba(0,0,0,0.086),
                0 100px 80px rgba(0,0,0,0.12);
  }
  .m1{
    
    padding: 10px 20px;
  }
  .card-title{
    font-size:2rem;
    font-weight:600;
    
  }

.card-image{
    width:100%;
    height: auto;
    background-size:cover;
    background-repeat:no-repeat;
    border-radius: 2px ;
    position: relative;
  }
.card-badge{
  position: absolute;
  top:30px;
  left: -1px;
  background-color: var(--primary-color);
  color: white;
  font-size: 0.8em;
  font-weight: 600;
  padding: 5px 10px;
  transition: 0.3s all ease-in-out;
}
.ecom{
  width: 230px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position: relative;
}
.ico i{
  position: absolute;
  color: var(--primary-color);
  cursor: pointer;
  top: 30px;
  right: 10px;
 
  transition: all 0.3s ease-in-out;
  font-size: 1.5rem;
}
.ico i:hover{
  color:var(--primary-hover) ;
  
}
.card-badge:hover{
  background-color: var(--primary-hover);
}
.header-profile{
  padding: 5px;
}
 .header-profile span{
    position: relative;
    bottom:15px;
    
} 

