.alert-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.input-group{
    color: #333;
    font-size: 0.8rem;
    line-height: 20px;
    margin: 0 20px 10px;
    width: 80%;
}
input[type="text"]{
    background-color: #fff;
    border: 1px solid #999;
    padding: 0.6rem 0.7rem;
  
    font-size: 0.8rem;
    margin: 5px 0;
    width: 100%;
    transition:all 0.3s ease;
    outline: none;
    border-radius: 2px;
}
input[type="text"]:focus{
    border-color: var(--active-color);
}
.input-group input[type="text"]:nth-child(2){
    border-color: var(--danger-hover);
}
.input-group.err{
    color: var(--danger-hover);
}