.btn-default{
    background-color: var(--default-color);
}
.btn-primary{
    background-color: var(--primary-color);
}
.btn-secondary{
    background-color: var(--secondary-color);
    color: black;
}
.btn-error{
    background-color: var(--danger-color);

}
.btn-success{
    background-color: var(--success-color);
}

.btn-default:hover{
    background-color: var(--default-color);
}
.btn-primary:hover{
    background-color: var(--primary-hover);
}
.btn-secondary:hover{
    background-color: var(--secondary-hover);
}
.btn-error:hover{
    background-color: var(--danger-hover);
}
.btn-success:hover{
    background-color: var(--success-hover);
}
/* No space between the two classes */
.btn.outline-default{
    border: 1px solid var(--default-color);
    background-color:white;
    color:var(--default-color)
}
.btn.outline-default:hover{
    background-color: var(--default-color);
    color: white;
}
.btn.outline-primary{
    background-color: white;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.btn.outline-primary:hover{
    background-color: var(--primary-color);
    color: white;
}
.btn.outline-error{
    background-color: white;
    color: var(--danger-color);
    border: 1px solid var(--danger-color);
}
.btn.outline-error:hover{
    color: white;
    background-color: var(--danger-color);
}
.btn.outline-success{
    background-color: white;
    color: var(--success-color);
    border: 1px solid var(--success-color);
}
.btn.outline-success:hover{
    background-color: var(--success-color);
    color:white;
}
.btn.btn-link{
    background-color: var(--active-color);
}
.btn.btn-link:hover{
    background-color:var(--primary-hover);
}
.btn.btn-link i{
    margin-right: 4px;
}
